/* Split the screen in half */
.split {
  height: 50%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 30;
  overflow-x: hidden;
  padding-top: 60px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #111;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.po {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #115;
}