.card-list{
	width :100%;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.card{
	margin:50px auto;
	width:300px;
	height:300px;
	border-radius:50px;
	cursor:pointer;
box-shadow:20px 4px 40px 7px  rgba(0,0,0,0.25),-5px -5px 40px 7px rgba(0,0,0,0.22);
transition:0.6s;}
.card-image {
	width:inherit;
    height:inherit;}
.card-image img{
	width:inherit;
	height:inherit;
	bolder-radius:100px;
opject-fit:cover;}

.card-title{color:white;
text-align:center;
font-family:sans-serif;
font-weight:bold;
font-size:30px;
margin-top:-80px;
text-shadow:1px 1px #000;}
.card:hover{
	transparent:scale(0.9,0.9);
	box-shadow:5px 5px 30px 15px rgba(0,0,0,0.25),
-5px -5px 30px 15px rgba(0,0,0,0.22);}